// Font
$font-family-base: 'DINNextLTPro';
$font-size-base: 13px;

// Colors
$corporate-color: #E2261C;
$yellow: #FFA63B;

$text-color: #666;
$light-gray: #9E9B9A;
$dark-gray: #51514F;
$medium-gray: #97959C;

//Screen size
$screen-sm-min: 767px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-xs-min: 766px;
