<div class="days-itinerary" id="col-comp-three">
  <div class="img-background">
    <div *ngFor="let item of itinerary | slice:0:showItems; let i = index; let isOdd=odd" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- IMG -->
        <div class="img-days-itinerary" [class.blurred-container]="i === 11" [ngClass]="isItineraryVisible ? '' : 'blurred-container'">
          <img [src]="item.image.url" [alt]="item.image.alt">
          <!-- CUBO Nº DIA -->
          <div [class.odd]="isOdd" class="container-day-itinerary text-center">
            <div class="cube-day-itinerary">
              <span class="text-cube-day">Día</span>
              <span class="number-cube-day">{{item.day}}</span>
            </div>
            <div *ngIf="item.destination" class="city-day-itinerary">
              <span class="text-city-day">{{item.destination.city}}</span>
              <span class="text-city-sep"> / </span>
              <span class="text-country-day">{{item.destination.country}}</span>
            </div>
            <div *ngIf="!item.destination" class="city-day-itinerary">
              <span class="text-city-day">
                <span class="text-country-day">Disfrutando del Barco</span>
              </span>
            </div>
            <div class="departure-day-itinerary">
              <span *ngIf="item.departure" class="text-departure-hour">Salida {{item.departure}}</span>
              <span *ngIf="item.departure && item.arrival" class="text-sep">-</span>
              <span *ngIf="item.arrival" class="text-arrival-hour">Llegada {{item.arrival}}</span>
              <p *ngIf="!item.destination" class="text-destination">Día de Navegación</p>
              <p *ngIf="item.optional" class="text-optional">{{item.optional}}</p>
            </div>
          </div>
          <div *ngIf="i === 11" [ngClass]="isItineraryVisible ? 'not-blurred' : 'blurred-overlay'">
            <button class="btn select-btn" (click)="showItems = itinerary.length; onClickisItineraryVisible()">Ver todo el itinerario</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>